
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 95vh;
}
#main-1{
    width: 20%;
    height: 95vh;
    display: block;
    justify-content: center;
    align-items: center;
}
#main-1 div{
    margin: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
 width: 100px;
 height: 100px;
 border: 1px solid skyblue;
 background-repeat: no-repeat;
 

}
#main-1 div:hover{
    border: 1px solid black;
    transition: all 0.1s;
    background-color: rgb(185, 212, 214);
}

#photo1  {
      background-image:url(https://m.media-amazon.com/images/I/71yTiZjYcWL._SY741_.jpg) ;
 background-size:45px;
 background-position: center;
      
}

#photo2  {
    background-image:url(https://m.media-amazon.com/images/I/71QlwGeRbjL._SY741_.jpg) ;
      background-repeat: no-repeat;
      background-size:45px;
      background-position: center;
}
#photo3  {
    background-image:url(https://m.media-amazon.com/images/I/51C6vj3euiL._SY741_.jpg) ;
    background-repeat: no-repeat;
    background-size:5px;
    background-position: center;
      
}
#photo4  {
    background-image:url(https://m.media-amazon.com/images/I/51hwrAPuJHL._SY741_.jpg) ;
    background-repeat: no-repeat;
    background-size:5px;
    background-position: center;
      
}
#photo5  {
    background-image:url(https://images-eu.ssl-images-amazon.com/images/I/51z2YQ0gDOL._AC_UL165_SR165,165_.jpg) ;
    background-repeat: no-repeat;
    background-size:100px;
    background-position: center;
      
}
#photo6  {
    background-image:url(https://m.media-amazon.com/images/I/6147rXYUvML._SY250_.jpg) ;
    background-repeat: no-repeat;
    background-size:100px;
    background-position: center;

      
}
#photo7  {
    background-image:url(https://m.media-amazon.com/images/I/61gicLnL0AL._SX679_.jpg) ;
    background-repeat: no-repeat;
    background-size:100px;
    background-position: center;
      
}



#main-2{
    margin: 10px;
    width: 800px;
    height: 800px;
    border: 1px solid black;
    background-image: url(https://rukminim2.flixcart.com/image/128/128/jdhp47k0/mobile/e/h/e/redmi-note-5-pro-na-original-imaf2ashnnbxxks5.jpeg?q=70&crop=false);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
